DATABASE_URL="postgresql://postgres:change-me@platform-postgres:5432/qr_platform?schema=public"
NEXTAUTH_SECRET="change-me-long-random-secret"
NEXTAUTH_URL="https://v1.qrbir.com"
NODE_ENV="production"
